@page "/ubicacion"

<MudText Align="Align.Center" Typo="Typo.h1">
    Ubicación
</MudText>
<MudDivider />
<MudText Class="ma-2" Align="Align.Center" Typo="Typo.body1">
    Estamos ubicados en local Laboratorio Calderón, al costado noreste del estadio municipal de Pérez Zeledón
</MudText>

<div id="map-container" style="width: 100%; height: 70vh;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d861.9835193202522!2d-83.70393379207144!3d9.369000748591882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa14eee7866133b%3A0xb9f415f6f2e3bfc3!2sLaboratorio%20Calder%C3%B3n!5e0!3m2!1sen!2scr"
            width="100%" height="100%" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

@code {
    
}
